.connect{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
    color: white;
    margin-top: 2rem;
}

.social{
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}



